*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Product Sans;
}
html,body{
height: 100vh;
width: 100%;
}
#main{
   height: 100vh;
   width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 15vh;
    position: fixed;
    z-index: 10;
}
.logo{
    width: 25vh;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
}
nav #center_nav{
    display: flex;
    gap: 10vh;
}
nav i{
    color: white;
    font-size: 5vh;
}
/* page 1 */
.page1{
    height: 100vh;
    width: 100%;
    background: rgb(91,5,195);
    background: linear-gradient(0deg, rgba(91,5,195,1) 0%, rgba(116,66,208,1) 100%);
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}
.mint{
    width: 110vh;
    z-index: 2;
    position: absolute;
    /* display: none; */
}
.mint_leaf{
    width: 50vh;
    position: absolute;
    top: 10%;
    right: 13%;
    z-index: 1;
}
.mint_leaf2{
    width: 50vh;
    position: absolute;
    z-index: 2;
    top: 50%;
    rotate: 40deg;
    left: 18%;
}
.page1 h1{
    font-size: 10vw;
    color: white;
}
.choco1{
    width: 35vh;
    position: absolute;
    z-index: 2;
    right: 3%;
    top: 70%;
    rotate: 165deg;
}
.choco2{
    width: 35vh;
    position: absolute;
    z-index: 2;
    left: 3%;
    top: 5%;
    rotate: 0deg;
}
/* page 2 */
.page2{
    height: 100vh;
    width: 100%;
    
    display: flex;
}

.box1{
    width: 50%;
    height: 100vh;
    background: rgb(116,66,208);
    background: linear-gradient(0deg, rgba(116,66,208,1) 0%, rgb(91,5,195,1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10vh;
    text-align: left;
    color: white;
}
.box1 h1{
    color: rgb(104, 255, 104);
    font-size: 5vw;
}
.box1 h4{
    font-weight: 100;
}
.box2{
    width: 50%;
    height: 100vh;
    background: rgb(116,66,208);
    background: linear-gradient(0deg, rgba(116,66,208,1) 0%, rgb(91,5,195,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 svg{
    margin-left: 30vh;
    margin-top: 5vw;
    transform: scale(1);
}
/* page 3 */
.page3{
    background: rgb(91,5,195);
    background: linear-gradient(0deg, rgba(91,5,195,1) 0%, rgba(116,66,208,1) 100%);
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    position: relative;
    overflow: hidden;
}

.card{
    margin-top: 20%;
    height: 70vh;
    width: 20vw;
    background-color: white;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.card h1{
    text-align: center;
    margin-top: 40vh;
    font-size: 2.5vw;
}
.card button
{
    padding: 1vw 1.5vh;
    border-radius: 10vh;
    border: none;
    font-size: 1vw;
    color: white;
    background-color: rgb(185, 137, 231);
}
.bubbly{
    width: 120vh;
    rotate: 90deg;
    position: absolute;
    top: -30%;
    left: -90%;
    z-index: 6;
}
.card1{
    background: rgb(159,5,160);
    background: linear-gradient(0deg, rgba(160, 5, 160, 0.644) 0%, rgba(242, 130, 218, 0.644) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.card1 button{
    background-color: rgb(215, 34, 203);
}
.card2{
    background: rgb(19,140,5);
    background: linear-gradient(0deg, rgba(19,140,5,0.644) 0%, rgba(130,242,150,0.644) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.card2 button{
    background-color: rgb(34, 215, 82);
}
.milk-chocolate{
    width: 43vw;
    height: 55vh;
    top: -28%;
    rotate: 90deg;
    left: -67%;
    position: absolute;
}
.card3{
    background: rgb(113,59,16);
    background: linear-gradient(0deg, rgba(113,59,16,0.644) 0%, rgba(234,155,159,0.644) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.for-pin{
    font-size: 500px;
    position: absolute;
    text-wrap: nowrap;
    top: 28%;
    color: white;
    
}

/* page 4 */
.page4{
    height: 100vh;
    width: 100%;
    background: rgb(116,66,208);
    background: linear-gradient(0deg, rgba(116,66,208,1) 0%, rgb(91,5,195,1) 100%);
    display: flex;
    z-index: 1;
    
}
.page4 .box2{
    display: flex;
    flex-direction: column;
}
.page4 .box2 .up{
    width: 100%;
    height: 50%;
    width: 100%;
    height: 50%;
    position: relative;

}
.page4 .up svg{
    width: 65%;
    position: absolute;
    top: -35%;
    left: 0%;
}
.page4 .box1 .up{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.page4 .box2 .down{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-right: 1vw;
}
.page4 .box2 .down h1{
    font-size: 5vw;
    color: palevioletred;
}

.up h1{
    color: rgb(189, 130, 70);
}
.page4 .box1 .down{
    width: 100%;
    height: 50%;
    position: relative;
}
.page4 .box1 .down img{
    width: 50vw;
    position: absolute;
    z-index: 5;
    left: -10%;
}
.page4 .box2 .up img{
    width: 60vw;
    position: absolute;
    z-index: 5;
    right: -20%;
}


.down svg{
    width: 65%;
    position: absolute;
    top: -20%;
    left: 10%;
}